@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}

<section class="credits-shell">
    <div class="credits-card">
        <h1>Credits & Sources</h1>
        <p class="muted">게임에 사용된 리소스 출처를 안내합니다.</p>

        <dl class="credits-list">
            <div>
                <dt>BGM / SFX</dt>
                <dd>
                    - Wolf Lobby<br>
                     Track - Scott Buckley - Legionnaire<br>
                     Soundcloud - scottbuckley<br>
                     나눔뮤직 - https://tv.naver.com/v/9806927
                </dd>
                <dd>
                    - Sheep Lobby<br>
                      Track - Alexander Nakarada - Good Times<br>
                      Soundcloud - serpentsoundstudios<br>
                      나눔뮤직 - https://tv.naver.com/v/12663965
                </dd>
                <dd>
                    - Match Making<br>
                     Track - Alexander Nakarada - Fallout<br>
                     Soundcloud - serpentsoundstudios<br>
                     나눔뮤직 - https://tv.naver.com/v/12663965
                </dd>
            </div>
        </dl>
    </div>
</section>
