@page "/"

<PageTitle>Index</PageTitle>

<div class="page-container">
    <div class="image-container">
        <img src="images/CryWolfMobile.png" alt="Main Image" />
        <div class="text-container">
            <div class="text-middle">The Fine Tactics and Battles</div>
            <div class="text-bottom">COMING SOON</div>
        </div>
    </div>
</div>